/* Код для подключения шрифта в /css/stylename.css */
@font-face { 
  font-family: "MullerBold";
  src: url("./fonts/MullerBold.woff") format("woff");
  font-style: normal;
  font-weight: 700;
}

@font-face { 
  font-family: "MullerRegular";
  src: url("./fonts/MullerRegular.woff") format("woff");
  font-style: normal;
  font-weight: 400;
}

html { 
  box-sizing: border-box; 
  background: #E5E5E5;
}

.services {
  font-family: 'MullerRegular', sans-serif;
  font-size: 18px;
  width: 100%;
  height: 4600px;
  position: relative;
  padding-block-start: 23px;
  padding-block-end: 43px;
  overflow: hidden;
}

.services__inner {
  position: relative;
}

.container {
  width: 86.9%;
  margin: 0 auto;
}

.mobile-line {
  position: absolute;
  top: 243px;
  left: -100px;
  transform: rotate(0.39deg);
  z-index: 1;
}

.lamp-wrap {
  width: 100%;
  display: flex;
  justify-content: center;
}

.top-spot {
  position: absolute;
  left: calc(50% - 5px);
  top: 200px;
}

.spot { z-index: 10; }

.txt-block-main {
  width: 100%;



}

.txt-block-main__title {
  font-family: "MullerBold", sans-serif; 
  font-weight: 700;
  font-size: 50px;
  margin-top: 68px;
  line-height: 95px;
  font-style: normal;
  color: #3B3F43;


}


.txt-block-main__content {
  width: 100%;
  line-height: 24px;
  color: #3B3F43;
  font-style: normal;
}


.txt-block-main__content-top {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-bottom: 29px;
}

.mobile-hor-line {
  width: 100%;
  margin-bottom: 39px;
}

.txt-block-main__content-bottom {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.ship-wrap {
  position: absolute;
  right: -32px;
  top: 1041px;
  z-index: 10;
}

.china-flag-wrap {
  position: absolute;
  top: 1110px;
  left: 99px;
  z-index: 10;
}

.second-spot {
  position: absolute;
  top: 1250px;
  left: 0;


}





.txt-block-second {
  position: absolute;
  z-index: 10;
  top: 1307px;
  left: 0;
}

.txt-block-second__title {
  width: 80%;
  font-family: 'MullerBold', sans-serif;
  font-weight: 700;
  font-size: 28px;
  line-height: 36px;
  color: #36A9E1;
  font-style: normal;
  margin-bottom: 24px;
}

.txt-block-second__content {
  font-family: "MullerRegular", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #000;
  font-style: normal;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.img-745-wrap {
  position: absolute;
  z-index: 10;
  top: 1615px;
  left: -31px;
}

.third-spot {
  position: absolute;
  top: 1908px;
  left: 3px;
}

.txt-block-third {
  position: absolute;
  z-index: 10;
  top: 1965px;
  left: 0;

}

.txt-block-third__title {
  font-family: "MullerBold", sans-serif;
  font-weight: 700;
  font-size: 28px;
  line-height: 36px;
  color: #36A9E1;
  font-style: normal;
  margin-bottom: 22px;
}

.txt-block-third__content {
  font-family: "MullerRegular", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #000;
  font-style: normal;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.img-group-wrap {
  width: 100%;
  z-index: 10;
  position: absolute;
  display: flex;
  justify-content: center;
  top: 2244px;
  left: 0;
}

.img-698-wrap {
  position: absolute;
  top: 131px;
  left: -30px;
}

.img-10379-wrap {
  position: absolute;
  z-index: 10;
  top: 15px;
  right: -30px;
}

.third-spot {
  position: absolute;
  top: 2540px;
  left: 0;
}

.txt-block-fourth {
  position: absolute;
  z-index: 10;
  top: 2592px;
  left: 0;
}

.txt-block-fourth__title {
  font-family: "MullerBold", sans-serif;
  font-weight: 700;
  font-size: 28px;
  line-height: 36px;
  color: #36A9E1;
  font-style: normal;
  margin-bottom: 24px;
}

.txt-block-fourth__content {
  font-family: "MullerRegular", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #000;
  font-style: normal;
}


